<h1>Simple Dispatch</h1>
<p>Menu for Managing Customers, Locations, Vendors, Equipments, Employee, Drivers</p>
<p>Sidebar for extra steps</p>
<p>Side search bar for anything</p>
<p>selected content or load board</p>
